{% extends 'base.html.twig' %}

{% block title %}Hello FormController!{% endblock %}

{% block body %}

<h1>FormulaireTest</h1>

<div>

    <label>Test></label>
    <input type="text">Test</input>

</div> 

{% endblock %}
