{% extends 'base.html.twig' %}

{% block body %}

<h1 class="text-center">Welcome</h1>

<img class="w-100" src="/disque.jpg">

<h2 class="text-center">Vinyls</h2>

    <div class="row">
        <img class="col-3 mt-1" alt="Marillion" src="/img/Vinyls/R-550471-1188388294.jpeg.jpg">
        <img class="col-3 mt-1" alt="AC/DC" src="/img/Vinyls/R-630942-1433934037-6458.jpeg.jpg">
        <img class="col-3 mt-1" alt="MArillion" src="/img/Vinyls/R-913326-1172315286.jpeg.jpg">
        <img class="col-3 mt-1" alt="Serge Gainsbourg" src="/img/Vinyls/R-1111653-1477834177-2042.jpeg.jpg">
        <img class="offset-2 col-3 mt-1" alt="Bob Dylan" src="/img/Vinyls/R-4888941-1378594981-3106.jpeg.jpg">
        <img class="col-3 mt-1" alt="Gainsbourg" src="/img/Vinyls/R-7743449-1480717135-4992.jpeg.jpg">
        <img class="col-3 mt-1" alt="Marillion" src="/img/Vinyls/R-13492169-1555231827-6531.jpeg.jpg">
    </div>

<h2 class="text-center">Artists</h2>

    <div class="row">
        <img class="col-3 mt-1" alt="Neil Young" src="/img/Artist/Neil_Young.jpeg">
        <img class="col-3 mt-1" alt="YES" src="/img/Artist/yes-1.jpg">
        <img class="col-3 mt-1" alt="Rolling Stones" src="/img/Artist/82f322e_7928-6084z8.5cmpknvcxr.jpg">
        <img class="col-3 mt-1" alt="Serge Gainsbourg" src="/img/Artist/Serge_Gainsbourg.jpg">
        <img class="offset-2 col-3 mt-1" alt="AC/DC" src="/img/Artist/ACDC.jpg">
        <img class="col-3 mt-1" alt="Marillion" src="/img/Artist/marillion.jpg">
        <img class="col-3 mt-1" alt="Bob Dylan" src="/img/Artist/Bob-Dylan-e1586423988432-1000x600.jpg">
        <img class="offset-4 col-3 mt-1" alt="Fleshtones" src="/img/Artist/618e4a69ccd44_quatuor-5512387.jpg">
        <img class="col-3 mt-1" alt="The Clash" src="/img/Artist/the-clash.jpg">
    </div>

{% endblock %}
