/*...Générale...*/
.menu {
    background-color: #23241f;
    border: 0.125em;
    padding: 1em 1em 1em 1em;
    font-size: 100%;
}
.white{
    color:#ffffff
}

/*...Healer...*/
.logo img{
    float: left;
}
.logo p{
    height:50;
    font-size: 1.875em;
    display: flex;
    justify-content:center;
    align-items: center;
}

/*...Photo Promo...*/
.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    width: 100%;
    height: auto;
}

/*...Corp...*/
#D3{
    display:flex;
    align-items: stretch;
    justify-content: space-between;
}
#D1{
    float:right;
    background-color: #d4d0d0;
    order:1;
    width: 21.875rem;
}

/*...Tableau...*/
.imag{
    width:10%;
    min-width:100px;
}



/*Css web responsive*/

@media screen and (max-width:768px) {
    /*...Générale...*/
    .menu {
        position:relative;
    }
    .white {
        display: flex;
        flex-direction: column;
    }
    h1{
        font-size: 100%;
    }

    /*...Healer...*/
    .logo img{
        width: 40%;
    }
    .logo p{
        height: auto;
        font-size: 187.5%;
    }

    /*...Corp...*/
    #D1{
        display: none;
    }

    /*...Tableau...*/
    table{
        size: auto;
    }
}