
.menu {
    color: #ffffff;
    background-color: #23241f;
    border: 0.125rem;
    padding: 1em 1em 1em 1em;
    font-size: 100%;
    line-height: 1.50;
}
.white{
    color:#ffffff
}
.logo img{
    float: left;
}
.logo p{
    height:50;
    margin-left: 8.125rem;
}

#T1{
    font-size: 1.875rem;
    text-align: center;

}
#D3{
    display:flex;
    align-items: stretch;
    justify-content: space-between;
}
#D1{
    float:right;
    background-color: #d4d0d0;
    order:1;
    width: 21.875rem;
}
.imag{
    width:10%;
    min-width:100px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    height: auto;
}
