
.menu {
    background-color: #23241f;
    border: 0.125em;
    padding: 1em 1em 1em 1em;
    font-size: 100%;
}
.white{
    color:#ffffff
}
.logo img{
    float: left;
}
.logo p{
    height:50;
    margin-left: 8.125em;
    font-size: 1.875em;
    text-align: flex;
    justify-content:center;
    align-items: center;
}
#D3{
    display:flex;
    align-items: stretch;
    justify-content: space-between;
}
.imag{
    width:10%;
    min-width:100px;
}
.center{
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5%;
    max-width: 100%;
    height: auto;
}



/*Css web responsive*/

@media screen and (max-width:768px) {
    .menu {
        position:relative;
    }
    .white {
        display: flex;
        flex-direction: column;
    }
    table{
        size: auto;
    }
}
@media screen and (min-width:769px) {
    #D1{
        float:right;
        background-color: #d4d0d0;
        order:1;
        width: 21.875rem;
    }
}
